[submodule "dfncluster/ICA/infomax"]
	path = dfncluster/ICA/infomax
	url = https://github.com/MRN-Code/ica.git
[submodule "dfncluster/Classifiers/polyssifier"]
	path = dfncluster/Classifiers/polyssifier
	url = https://github.com/trendscenter/polyssifier.git
